{% extends "layout.html" %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-5">Update Profile</h1>
    <form action="{{ url_for('update_profile') }}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.name }}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}